*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(245, 245, 245);
}
.container{
    max-width: 640px;
}
header{
    margin-top: 20px;
}
header a{
    text-decoration: none!important;
}
.forms{
    margin: 20px auto;
}
h5{
    font-size: 16px;
}
footer{
    margin-top: 20px;
}