<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>Hello Mango!</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<main class="container">
	<header>
		<h1 class="text-center display-4">
			<a href="#" class="text-success"><strong>Hello Mango!</strong></a>
		</h1>
	</header>
	<div class="forms">
		<form role="form" method="post" action="#">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" placeholder="Please input your name">
			</div>
			<div class="form-group">
				<label for="message">Message</label>
				<textarea type="text" class="form-control" id="message" placeholder="Leave a message" rows="2"></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
	<h5>3 messages
		<small class="float-right">
			<a href="#bottom" title="Go Bottom">&darr;</a>
		</small>
	</h5>
	<div class="list-group">
		<a class="list-group-item list-group-item-action flex-column">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1 text-success">Mango Wu
					<small class="text-muted"> #3</small>
				</h5>
				<small data-toggle="tooltip" data-placement="top"
					   data-timestamp=""
					   data-delay="500">
					2 hours ago
				</small>
			</div>
			<p class="mb-1">Hello, Mango!</p>
		</a>
		<a class="list-group-item list-group-item-action flex-column">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1 text-success">Who am I
					<small class="text-muted"> #2</small>
				</h5>
				<small data-toggle="tooltip" data-placement="top"
					   data-timestamp=""
					   data-delay="500">
					2 hours ago
				</small>
			</div>
			<p class="mb-1">I love JJ Lin!</p>
		</a>
		<a class="list-group-item list-group-item-action flex-column">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1 text-success">TT
				<small class="text-muted"> #1</small>
			</h5>
			<small data-toggle="tooltip" data-placement="top"
				   data-timestamp=""
				   data-delay="500">
				2 hours ago
			</small>
		</div>
		<p class="mb-1">It's first</p>
	</a>
	</div>
	<footer class="text-center">
		<small> &copy; 2018 <a href="#" title="Design By Wu Xie">Wu Xie</a> /
			<a href="https://github.com/shiehng" title="Fork me on GitHub">GitHub</a> /
			<a href="#" title="Nothing can do">Hello Mango!</a>
		</small>
		<p><a id="bottom" href="#" title="Go to top">&uarr;</a></p>
	</footer>
</main>
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>

